* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
}

#cat-list {
    width: 20%;
}

a {
    display: block;
}

#cat-display {
    width: 80%;
}

img {
    width: 100%;
}

header,
article  {
    display: flex;
}

img:hover {
    cursor: hand;
    cursor: pointer;
}

.right,
#score-count {
    display: inline;
}

.right {
    position: absolute;
    right: 4px;
}

#score-count {
    position: absolute;
    right: 85px;
}
