* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    margin: 0 auto;
}

header,
img {
    width: 100%;
}

figure {
    width: calc(50% - 10px);
    margin: 0 5px;
}

header,
article  {
    display: flex;
}

img:hover {
    cursor: hand;
    cursor: pointer;
}

.left,
#score-count-1,
.right,
#score-count-2 {
    display: inline;
}

.right {
    position: absolute;
    right: 10%;
}

#score-count-2 {
    position: absolute;
    right: calc(10% + 81px);
}
