@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
}
body {
	background-color: #f0f0f0;
}
input {
	color: grey;
}
header {
	width: 100%;
	position: fixed;
	background-color: #E57373;
	height: 55px;
	z-index: 1;
	color: white;
	padding: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
#cat-list {
	position: fixed;
	top: 75px;
	width: 20%;
}
a {
	display: block;
}
#cat-display {
	margin: 75px auto 25px auto;
}
.cat-wrap {
	max-width: 700px;
	margin: 0 25px;
	padding: 25px;
	background-color: #fefefe;
	box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.26);
}
#cat-name {
	text-align: center;
	margin-bottom: 10px;
}
.cat {
	max-width: 650px;
	margin: 0 auto;
}
.cat img {
	margin-bottom: 10px;
}
#admin {
	position: fixed;
	bottom: 5px;
	left: 5px;
}
#admin-tools {
	display: none;
}
img {
	width: 100%;
}
header,
article {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
img:hover {
	cursor: hand;
	cursor: pointer;
}
.right,
#score-count {
	display: inline;
}
.right {
	position: absolute;
	right: 4px;
}
#score-count {
	position: absolute;
	right: 85px;
}
